@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
h2 {
    @apply text-2xl font-medium tracking-tight leading-tight;
}
h2:not(.h1) {
    letter-spacing: -.015em;
}
h1, .h1 {
    @apply text-2.5xl font-medium tracking-tight leading-tighter;
}

@screen md {
    h2 {
        @apply text-2.5xl tracking-tight-lg;
    }
    h1, .h1{
        @apply text-5.5xl tracking-tight-lg;
    }
    h2:not(.h1) {
        letter-spacing: -.02em;
    }
}  

/* Container */
.container {
    @apply max-w-screen-xl mx-auto px-6 md:px-8 lg:px-9;
}


/* Buttons */

button {
    @apply focus:outline-none;
}

.button {
    @apply font-bold rounded-full px-10 h-12 inline-flex items-center justify-center;
}


.button-green {
    @apply bg-light-green;
}
.button-green:hover {
    @apply bg-green;
}
.button-light-green {
    @apply bg-light-green;
}
.button-light-green:hover {
    @apply bg-lighter-green;
}
.button-dark-green {
    @apply bg-dark-green text-green p-3 h-auto;
}

.button-black {
    @apply text-white bg-black;
}

.button-black:hover {
    @apply bg-dark-gray;
}

.button-login {
    @apply rounded h-12 px-12 inline-flex items-center justify-center text-white bg-light-green hover:bg-green font-bold;
}

/* Firefox - remove red shadow from required inputs */
input:required {
    box-shadow: none;
}

/* box-shadow: 0px 12px 24px var(--rh__shadow__s1), 0px -12px 24px var(--rh__shadow__s2); rgba(0,0,0,0.06) rgba(0,0,0,0.06)
    transition: border-color 300
}

border rgb(227,233,237)

svg color rgb(111,120,126) */