@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
h2 {
    @apply text-2xl font-medium tracking-tight leading-tight;
}
h2:not(.h1) {
    letter-spacing: -.015em;
}
h1, .h1 {
    @apply text-2.5xl font-medium tracking-tight leading-tighter;
}

@screen md {
    h2 {
        @apply text-2.5xl tracking-tight-lg;
    }
    h1, .h1{
        @apply text-5.5xl tracking-tight-lg;
    }
    h2:not(.h1) {
        letter-spacing: -.02em;
    }
}  

/* Container */
.container {
    @apply max-w-screen-xl mx-auto px-6 md:px-8 lg:px-9;
}


/* Buttons */
.button {
    @apply font-bold rounded-full px-10 h-12 inline-flex items-center justify-center;
}

.button-green {
    @apply bg-light-green;
}
.button-green:hover {
    @apply bg-green;
}

.button-black {
    @apply text-white bg-black;
}

.button-black:hover {
    @apply bg-dark-gray;
}